{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <style type=text/css>
    h1 { margin: 0 0 10px 0; background: url({{ url_for('static', filename='LOGO2PWM_LOGO.png') }}) no-repeat center; height: 125px}
    h1 span, p.tagline { display: none; }
  </style>
  <script type=text/javascript>
    $(function() {
      $('h1').bind('mousedown contextmenu', function(event) {
        if (event.button != 2)
          return;
        var box = $('div.logohint');
        if (!box.is(':visible'))
          box.animate({'height': 'show', 'opacity': 'show'}, 100);
        event.preventDefault();
        event.returnValue = false;
        return false;
      });
    });
  </script>
{% endblock %}




{% block body %}
    
  <h4> <a href="https://github.com/gozhen/Logo2PWM">Github repository</a>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <a href="{{ url_for('static', filename='source_code.zip') }}">Download Source Code</a>  </h4>
<br>


  <h4>To run, open MATLAB; cd to the location of f_logo_to_PWM_publish():</h4>

    <p><pre style="font-size:100%"> >> f_logo_to_PWM_publish([logo image file])</pre></p>
 
  <p>or </p>

    <p><pre style="font-size:100%"> >> f_logo_to_PWM_publish([logo image file], [#letter columns])</pre></p>





<br>
  <h4>To compile, install MATLAB compiler runtime 9.0;  in MATLAB, input:</h4>
  <p><pre style="font-size:100%"> >> mcc -m f_logo_to_PWM_publish.m</pre></p>
  <p>The executable will be generated in place. </p>


<p>  </p>
<br>


<h4>You can also download the compiled executables for:</h4>
  <p>&nbsp;&nbsp;&nbsp;
  <a href="{{ url_for('static', filename='f_logo_to_PWM_publish.exe') }}">Windows</a> 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
  <a href="{{ url_for('static', filename='f_logo_to_PWM_publish') }}">OS X</a> </p>


<br>
  <h4>To run executable, open a terminal/cmd:</h4>
  <p><pre style="font-size:100%"> $ [executable] [logo image file] [#letter columns (optional)]</pre></p>

<br>
<hr>
<h4><b>Reference</b></h4>
<h4>Please support us by citing <a href="https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-017-4023-9"><b><u>this article</u></b></a>: </h4>
  <p><pre style="font-size:80%"> @article{gao2017logo2pwm,
  title={Logo2PWM: a tool to convert sequence logo to position weight matrix},
  author={Gao, Zhen and Liu, Lu and Ruan, Jianhua},
  journal={BMC genomics},
  volume={18},
  number={6},
  pages={709},
  year={2017},
  publisher={BioMed Central}
 }
 </pre></p>
 <h4>Many thanks for your support!
 </h4>
 </p>


  <p>{% endblock %}</p>




























